.not-found-page {
    height: 100%;
    background-color: @brand-primary;
    .info {
        font-weight: 700;
        color: #fff;
        h1 {
            font-size: 110px;
            margin-top: 120px;
            line-height: 100px;
            text-transform: uppercase;
            color: @brand-danger;
        }
        h2 {
            font-size: 55px;
            line-height: 55px;
            text-transform: uppercase;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
        }
        .btn {
            margin-top: 30px;
        }
    }
    .fighting {
        margin-top: 120px;
    }
}
@media(max-width: @screen-sm) {
    .not-found-page {
        height: 125%;
        .info h1 {
            margin-top: 15px;
        }
        .fighting {
            margin-top: 30px;
        }
    }
}
