//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #b9b9ba;
@gray-darker:            #68696b;
@gray-dark:              #909192;
@gray:                   darken(@gray-base, 20%);
@gray-light:             #e8e9e9;
@gray-lighter:           #f7f7f7;

@brand-primary:         #0087bf;
@brand-success:         #76c79a;
@brand-info:            #e8e9e9;
@brand-warning:         #ffe3b1;
@brand-danger:          #ff8877;
