<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="UTF-8" />
        <title>My Web App - Change me!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="google" content="notranslate" />
        <meta http-equiv="Content-Language" content="es_ES" />
		<link rel="icon" href="https://facebook.github.io/react/favicon.ico">
        <link href="<%- htmlWebpackPlugin.files.css[0] %>" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="app">
            <!-- APPLICATION CONTENT GOES HERE-->
        </div>

        <script src="<%- htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
        <script src="<%- htmlWebpackPlugin.files.chunks.app.entry %>"></script>
    </body>
</html>
